body {
  margin: 0;
  padding: 0;
}
h1 {
  background: gray;
  font-family: serif;
  font-size: 40px;
  padding: 50px;
  text-align: center;
  color: white;
  margin: 0;
}
.main-cat  {
  
  background: green;
  text-align: center;
  

}
.main-cat a {
  
  color: white;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
}
.images img {
  width: 100%;
  height: auto;
}
.images {
  width: 500px;
  height: 200px;
  border: 10px solid blue;
  border-radius: 10px;
}