body {
  margin: 0;
  padding: 0;
}
h1 {
  background: gray;
  font-family: serif;
  font-size: 40px;
  padding: 50px;
  text-align: center;
  color: white;
  margin: 0;
}
.main-cat  {
  
  background: green;
  text-align: center;
  

}
.main-cat a {
  
  color: white;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
}
p {
  background: blue;
  color: white;
  text-align: justify;
  padding: 500px 20px;
  margin: 0;
}
footer {
  background: red;
  color: black;
  font-size: 30px;
  padding: 30px;
  text-align: center;
}